# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.PocCMotorRegraPonto.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\repos\PoCMotorRegraPonto\.idea\.idea.PocCMotorRegraPonto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
